# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/

# IDEs
.vscode/
.idea/
*.iml
.env

# User-gen
metadata.csv
logs

# ENV
.env

# Auto-gen
.cargo-ok
.qodoa

# Build artifacts
*.wasm
hash.txt
contracts.txt
artifacts/

node_modules/
yarn.lock

# code coverage
tarpaulin-report.*

# integration tests
e2e/gas_reports/*
