[package]
name        = "saa-macros-proto"
description = "Procedural macros for saa-schema"
edition     = { workspace = true }
authors     = { workspace = true }
version     = { workspace = true }
license     = { workspace = true }
repository  = { workspace = true }

[lib]
proc-macro = true

[dependencies.proc-macro2]
version = "1"

[dependencies.quote]
version = "1"

[dependencies.syn]
version = "1"
features = [
    "full",
    "printing",
    "extra-traits",
]

[features]
default        = ["std"]
std            = [     ]
substrate      = [     ]
solana         = [     ]
cosmwasm       = [  "wasm"   ]
wasm           = [     ]
