[package]
name        = "saa-common"
description = "Common types and utilities for smart account auth"
edition     = { workspace = true }
authors     = { workspace = true }
version     = { workspace = true }
license     = { workspace = true }
repository  = { workspace = true }


[dependencies]
saa-schema          = { workspace = true }
thiserror           = { workspace = true }

bech32              = { workspace = true }
base64              = { workspace = true }

tiny-keccak         = { version = "2.0.2",  default-features = false,  features = ["keccak"] }
ripemd              = { version = "0.1.3",  default-features = false }
digest              = { version = "0.10.7", default-features = false }


cosmwasm-crypto     = { version = "2.1.4", optional = true, default-features = false }
ink                 = { version = "5.0.0", optional = true, default-features = false }


cosmwasm-std        = { workspace = true, optional = true }
cw-storage-plus     = { workspace = true, optional = true }

secretwasm-std      = { workspace = true, optional = true }
secretwasm-storage  = { workspace = true, optional = true }
secret-toolkit      = { workspace = true, optional = true }

scale               = { workspace = true, optional = true }
scale-info          = { workspace = true, optional = true }
borsh               = { workspace = true, optional = true }

sha2                = { workspace = true } 
serde               = { workspace = true }
schemars            = { workspace = true, optional = true }
serde-json-wasm     = { version = "1.0.1", default-features = false }
getrandom           = { version = "0.2.15",  default-features = false, features = ["custom"] }



[features]
default     = [
    "std", 
    "replay",
    "iterator",
]
solana      = [
    "dep:borsh", 
    "saa-schema/solana"
]
cosmwasm    = [
    "dep:cosmwasm-std",
    "dep:cw-storage-plus",
    "wasm"
]
cosmwasm_2_1 = [
    "cosmwasm-std/cosmwasm_2_1",
    "cosmwasm"
]
substrate   = [
    "dep:ink", 
    "dep:scale",
    "dep:scale-info",
    "saa-schema/substrate",
]
std         = [
    "ink?/std",
    "scale?/std",
    "scale-info?/std",
    "saa-schema/std",
]
native     = [
    "dep:cosmwasm-crypto"
]
iterator   = [
    "cosmwasm-std?/iterator",
    "cw-storage-plus?/iterator",
    "secretwasm-std?/iterator",
    "secretwasm-storage?/iterator",
    "storage",
]
secretwasm  = [
    "dep:secretwasm-std",
    "dep:secretwasm-storage",
    "dep:secret-toolkit",
    "wasm",
]
injective  = [
    "cosmwasm"
]
wasm       = [
    "dep:schemars",
    "saa-schema/cosmwasm",
]
replay     = [
    "storage"
]
storage    = []